.page-header {
	margin-top: 0;
	color:#300000;
	text-decoration:underline;
	font-weight:bolder;
}

.panel-body {

	padding-top:0;
}



#chosing {
	margin-top:30px;
}

#pauza {
	height:100%;
	margin-bottom:250px;
}

th {
	width:150px;
	text-align:center;
}

#opis {
	color:#280000 ; 
	font-family:sans-serif;
}



#lol th {
	border-bottom: solid black 1px;
	background-color:#A0A0A0;
	font-family:Gadget,sans-serif;
}



#opis2 {
	color:white;
	background-color:black;
	font-family:cursive;
}

#nope {
	border-bottom:solid #A0A0A0 1px;
}