.page-header {
	margin-top: 0;
	color:#F70D1A;
	text-decoration:underline;
	font-weight:bolder;
}

.panel-body {

	padding-top:0;
}

#hello {
	background-color:#FDEEF4;
	border:black solid 1px;
	height:100%;
}

#chosing {
	margin-top:30px;
}