.page-header {
	margin-top: 0;
	color:#F70D1A;
	text-decoration:underline;
	font-weight:bolder;
}

.panel-body {

	padding-top:0;
}

#hello {
	margin: 10px 10px 10px 10px;
	background-image:url('images/tlo2.jpg');
	
}
